name: Go

on: [push, pull_request]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@master
      with:
        go-version: ^1.16
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@master

    - name: Build
      run: go build -v .

    - name: Test and cover
      run: |
        CVPKG=$(go list ./... | grep -v -e "mocks" | tr '\n' ',')
        go test ./... -race -coverpkg $CVPKG -coverprofile coverage.txt -covermode atomic
        go tool cover -func coverage.txt

    - name: Publish coverage
      run: bash <(curl -s https://codecov.io/bash)
